<div class="main-content">
  <h2 class="login-page-heading heading">Resend confirmation instructions</h2>
  <div class="login-page">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions" %>
        </div>
    <% end %>

    <div class="login-helpers">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>





